<div class="main portfolio"> 
  <div class="jumbotron slideshow"> 
    <div class="slideshow-container banner unslider unslider-wrap"> 
      <ul class="unslider-carousel">
      <li class="slide"> 
        <img alt="Slide01" src="https://dl.dropboxusercontent.com/u/1098200/codecademy/eagle.jpeg" /> 
      </li> 
      <li class="slide"> 
        <img alt="Slide02" src="https://dl.dropboxusercontent.com/u/1098200/codecademy/bike.jpeg" /> 
      </li> 
      <li class="slide"> 
        <img alt="Slide03" src="https://dl.dropboxusercontent.com/u/1098200/codecademy/bear.jpeg" /> 
      </li>
      </ul>
    </div> 
  </div> 
  <div class="container"> 
    <div class="row"> 
      <a class="col-md-6 project" href="#"> 
        <div class="thumbnail-header"> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
        </div> 
        <div class="thumbnail"> 
          <img alt="Project01" src="https://dl.dropboxusercontent.com/u/1098200/codecademy/portfolioPics/project01.jpg" /> 
        </div> 
        <h3>TravelGos Booking App</h3> 
        <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize.</p> 
      </a> 
      <a class="col-md-6 project" href="#"> 
        <div class="thumbnail-header"> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
        </div> 
        <div class="thumbnail"> 
          <img alt="Project02" src="https://dl.dropboxusercontent.com/u/1098200/codecademy/portfolioPics/project02.jpg" /> 
        </div> 
        <h3>Breathers Reservation Site</h3> 
        <p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p> 
      </a> 
    </div> 
    <div class="row"> 
      <a class="col-md-6 project" href="#"> 
        <div class="thumbnail-header"> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
        </div> 
        <div class="thumbnail"> 
          <img alt="Project03" src="https://dl.dropboxusercontent.com/u/1098200/codecademy/portfolioPics/project03.jpg" /> 
        </div> 
        <h3>EnVogue Events Portfolio</h3> 
        <p>Informal economies; underprivileged, grantees transformative prosperity. Education best practices connect achieve plumpy'nut. Action Against Hunger; save the world, combat HIV/AIDS crowdsourcing eradicate inclusive facilitate collaborative.</p> 
      </a> 
      <a class="col-md-6 project" href="#"> 
        <div class="thumbnail-header"> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
        </div> 
        <div class="thumbnail"> 
          <img alt="Project04" src="https://dl.dropboxusercontent.com/u/1098200/codecademy/portfolioPics/project04.jpg" /> 
        </div> 
        <h3>Gauntlet Gallery</h3> 
        <p>Small-scale farmers; collaborative cities Bill and Melinda Gates best practices equity health theory of social change human experience. Tackle rural development relief worldwide respect, economic.</p> 
      </a> 
    </div> 
    <div class="row"> 
      <a class="col-md-6 project" href="#"> 
        <div class="thumbnail-header"> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
        </div> 
        <div class="thumbnail"> 
          <img alt="Project05" src="https://dl.dropboxusercontent.com/u/1098200/codecademy/portfolioPics/project05.jpg" /> 
        </div> 
        <h3>Koi Pond Online Visitors Guide</h3> 
        <p>UNICEF, research Ford Foundation outcomes collaborative consumption turmoil change lives. Tackling, dignity, world problem solving small-scale farmers complexity rural. Emergent humanitarian, necessities effect, challenges of.</p> 
      </a> 
      <a class="col-md-6 project" href="#"> 
        <div class="thumbnail-header"> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
          <div class="thumbnail-header-btn"></div> 
        </div> 
        <div class="thumbnail"> 
          <img alt="Project06" src="https://dl.dropboxusercontent.com/u/1098200/codecademy/portfolioPics/project06.jpg" /> 
        </div> 
        <h3>Academy of Sciences  Newsletter</h3> 
        <p>Aid collaborative global network overcome injustice honesty measures. Environmental, social impact carbon rights combat HIV/AIDS transform the world social innovation local effect. Free expression committed.</p> 
      </a> 
    </div> 
  </div> 
</div>