<div class="main home">
  <div class="jumbotron"> 
    <div class="container">
      <h2>Hello. My name is <span class="highlight">Neil Padgett</span> and I have creative ideas and build websites</h2>
      <%= link_to "View my work", portfolio_path, class:"btn right" %>
    </div> 
  </div>
</div> 
